<div class="form-row cols-3">
  <div class="form-group"><label>First name* <input name="first_name" required maxlength="80" value="{{ p.first_name if p else '' }}"></label></div>
  <div class="form-group"><label>Last name* <input name="last_name" required maxlength="80" value="{{ p.last_name if p else '' }}"></label></div>
  <div class="form-group"><label>Credentials <input name="credentials" maxlength="40" placeholder="MD, DO, NP" value="{{ p.credentials or '' if p else '' }}"></label></div>
</div>
<div class="form-row cols-2">
  <div class="form-group"><label>Practice <input name="practice_name" maxlength="160" value="{{ p.practice_name or '' if p else '' }}"></label></div>
  <div class="form-group"><label>NPI (10 digits) <input name="npi" maxlength="10" inputmode="numeric" value="{{ p.npi or '' if p else '' }}"></label></div>
</div>
<div class="form-row cols-3">
  <div class="form-group"><label>Phone <input name="phone" maxlength="20" value="{{ p.phone or '' if p else '' }}"></label></div>
  <div class="form-group"><label>Fax (10 digits) <input name="fax" maxlength="20" inputmode="tel" value="{{ p.fax or '' if p else '' }}"></label></div>
  <div class="form-group"><label>Direct secure address <input name="direct_address" maxlength="160" value="{{ p.direct_address or '' if p else '' }}"></label></div>
</div>
<div class="form-row cols-2">
  <div class="form-group"><label>Street <input name="street_line_1" maxlength="120" value="{{ p.street_line_1 or '' if p else '' }}"></label></div>
  <div class="form-group"><label>Suite / line 2 <input name="street_line_2" maxlength="120" value="{{ p.street_line_2 or '' if p else '' }}"></label></div>
</div>
<div class="form-row cols-3">
  <div class="form-group"><label>City <input name="city" maxlength="80" value="{{ p.city or '' if p else '' }}"></label></div>
  <div class="form-group"><label>State <input name="state" maxlength="2" value="{{ p.state or '' if p else '' }}"></label></div>
  <div class="form-group"><label>ZIP <input name="postal_code" maxlength="10" value="{{ p.postal_code or '' if p else '' }}"></label></div>
</div>
